@model IEnumerable<iRadioDEIplaylist.Models.Playlist>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlaylistVotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaylistActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlaylistVotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlaylistActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlaylistId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlaylistId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlaylistId })
        </td>
    </tr>
}

</table>
