@{
    ViewBag.Title = "Index";
}

<h2>Manage:</h2>

<ul>
    <li>@Html.ActionLink("Musics", "Musics")</li>
    <li>@Html.ActionLink("Genres", "Genres")</li>
    <li>@Html.ActionLink("Artists", "Artists")</li>
    <li>@Html.ActionLink("Albums", "Albums")</li>
    <li>@Html.ActionLink("Playlists", "Playlists")</li>
    <li>@Html.ActionLink("New Sounds", "NewSounds")</li>
</ul>
