@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        <b>iRadioMei - ACS</b>
    </p>
    
    <ul>
        <li>Ant&oacute;nio Silva</li>
        <li>Marcos Magalh&atilde;es</li>
        <li>Lu&iacute;s S&aacute;</li>
        <li>Nuno Salvador</li>


    </ul>

    <p>
        Departamento de Engenharia Informática
    </p>

    <p>
        Mestrado Engenharia de Inform&aacute;tica
    </p>
</article>

@*<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@